img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem auto;
  width: 250px;
  height: auto;
}

h2 {
  margin: 1rem auto;
  text-align: center;
}

p {
  padding: 1rem;
  font-size: 1.1rem;
}
